@page
@model HappeningNow.Pages.PoolEntries.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PoolEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PoolEntry.PoolId" class="control-label"></label>
                <select asp-for="PoolEntry.PoolId" class ="form-control" asp-items="ViewBag.PoolId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PoolEntry.TeamId" class="control-label"></label>
                <select asp-for="PoolEntry.TeamId" class ="form-control" asp-items="ViewBag.TeamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PoolEntry.DisciplineId" class="control-label"></label>
                <select asp-for="PoolEntry.DisciplineId" class ="form-control" asp-items="ViewBag.DisciplineId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PoolEntry.Order" class="control-label"></label>
                <input asp-for="PoolEntry.Order" class="form-control" />
                <span asp-validation-for="PoolEntry.Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolEntry.Mp3FilePath" class="control-label"></label>
                <input asp-for="PoolEntry.Mp3FilePath" class="form-control" />
                <span asp-validation-for="PoolEntry.Mp3FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
